p, h1 {
 font-family: 'Droid Sans', sans-serif;
}
/*HEADER*/

.header {
 padding: 140px 0 60px;
 background: url(../img/bg.jpg) no-repeat center center;
 background-size: cover;
 width: 100%;
 border-bottom: 2px solid #c9c9c9;
}

.header h1 {
 color: white;
 font-family: 'Pacifico', cursive;
 font-size: 7.5em;
}

.header p {
 color:white;
 font-size:1.3em;
}

.header .btn {
 padding: 5px 50px 5px 50px;
 border-radius: 0;
}

@media(max-width:768px) {

 .header {
  text-align:center;
  padding-top: 20%;
 }

 .header h1 {
 font-size:5em;
 }

 .header p {
  font-size:1em;
 }

 .header .btn {
  padding: 5px 12px 5px 12px;
 }

 .header img {
  padding-top:10%;
 }

}
