<!-- Main Navigation -->
<header class="header">
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg blue-gray navbar-fixed-top navbar-header">
      <!--navbar-fixed-top to make it fixed -->
      <h1><a class="brand-logo Icon Icon--logo Icon--large" href="{{ site.baseurl }}/">M.Sirak</a></h1>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!--
      <style>
        .topmenu ul li.active a, .topmenu ul li a:hover {
        text-decoration:none;
        color:#fff;
        /*background:url(../images/menu_a.jpg) no-repeat center top;*/
        }
      </style>
    -->
      <script type="text/javascript">
        $(function() {
            // this will get the full URL at the address bar
            var url = window.location.href;

            // passes on every "a" tag
            $(".topmenu a").each(function() {
                // checks if its the same on the address bar
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                    //for making parent of submenu active
                   $(this).closest("li").parent().parent().addClass("active");
                }
            });
          });
      </script>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbar-nav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link fa fa-home" href="{{ site.baseurl }}/">Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/posts">my posts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
              </li>

              <!-- Dropdown -->
              <li class="nav-item blue-gray dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WebCv</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item nav-link" href="{{ site.baseurl }}/WebCv">MonCV</a>
                      <a class="dropdown-item nav-link" href="/rss">rss</a>
                      <a class="dropdown-item nav-link" href="WebCv/competences">Compétences</a>
                      <a class="dropdown-item nav-link" href="WebCv/experiences">Experiences</a>
                      <a class="dropdown-item nav-link" href="WebCv/formations">Formations</a>
                      <a class="dropdown-item nav-link" href="WebCv/hobbies">Hobbies</a>
                      <a class="dropdown-item nav-link" href="WebCv/contact">Contact</a>
                  </div>
              </li>

          </ul>
          <!-- Links -->
          <!-- search bar -->
          <form class="form-inline navbar-form  navbar-left">
              <div class="md-form mt-0 input-group">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <!--  <input type="search" placeholder="Search..." role="textbox" aria-label="Search textbox" -->
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
              </div>
          </form>
      </div>

</header>
