<!-- Main Navigation -->
<header class="header">
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-header"><!--navbar-fixed-top to make it fixed -->
      <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo/lovely-penguin.jpg" alt="Logo" width="60" height="70"></a>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{{ site.baseurl }}/">Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/features">Notes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/posts">my posts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>

              <!-- Dropdown -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ site.baseurl }}/WebCv">MonCV</a>
                      <a class="dropdown-item nav-link" href="/rss">rss</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/WebCv/competences">Compétences</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/WebCv/experiences">Experiences</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/WebCv/formations">Formations</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/WebCv/hobbies">Hobbies</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/WebCv/contact">Contact</a>
                  </div>
              </li>

          </ul>
          <!-- Links -->
          <!-- search bar -->
          <form class="form-inline navbar-form  navbar-left">
              <div class="md-form mt-0 input-group">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <!--  <input type="search" placeholder="Search..." role="textbox" aria-label="Search textbox" -->
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button> -->
                  </div>
              </div>
          </form>
      </div>

</header>
