---
layout: default
notes: active
---

<div class="post">
  <div class="note single">
    <a href="{{ page.url }}">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </a>
    <div class="divider"></div>
    <!-- Beautify it later with line breaker -->
    <p class="post-meta">
      <info datetime="{{ page.date }}">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {% if page.author %} • <span class="p-author" itemprop="name">{{ page.author | escape }} </span>
        {% endif %}
        {% if page.meta %} • {{ page.meta }}
        {% endif %}
      </info>
    </p>
    <!-- Post content -->
    <article class="post-content">
      {{ content }}
    </article>
    <!-- Post info -->
    <div class="post-info">
      <!-- include some categories and tags maybe? -->
    </div>

    <hr />

    <!-- Post comments -->
    <div class="post-comments">
      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}
    </div>
  </div>
  <!-- / .note .single -->
</div>
<!-- /.notes -->
